body{
    background-color: #f5d9d5;
    color: #f498b8;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
#MainNavBar .navbar-brand{
    color:#EA1C2C;
}

#MainNavBar, #MainNavBar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 100;
}

#MainNavBar .nav-link{
    color:#ffff;
}

#MainNavBar .nav-link:hover{
    color:#EA1C2C;
}

h1{
    color: white;
}

span, h2{
    color: #EA1C2C;
}
.bg-dark {
      background-color: rgba(255, 255, 255, 0) !important;
  }

.bg-dark.scrolled {
    background-color: rgb(222,192,222) !important;
}


 .image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.btn {

    font-size: 2rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }








