body{
    background-color: #f3effe;
    color: #292f33;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 100;

    line-height: 2;
}
#mainNavbar .navbar-brand{
    color:#ff4778;
}

.dropdown-menu{
    background-color: #f3effe;
    color: #292f33;
}

.dropdown-menu a{
    color: #292f33;
}

.dropdown-item:hover{
    color: #292f33 !important;
}

#mainNavbar, #mainNavbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: #292f33;
    text-align: left;
}

#mainNavbar .nav-link:hover {
    color:#ff4778;
}

.scrolled #navbarNav .nav-link, .scrolled .dropdown-menu a{
    color: #ffffff;
}


.scrolled{
    background:  #36174d;
    transition: background 500ms;
}

h1{
    color: #292f33  ;
    font-size: 2.0rem;
}

span, h2{
    color: #ff4778;
}


 .image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.btn {

    font-size: 2rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

p{
    margin: 5%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4778, rgba(0, 0, 0, 0));
}

.jumbotron{
    background-color: #36174d;
    color: #ffffff;
}






